.dialog {
	margin: 10px 0;
	display: grid;

	grid-template-columns: 2fr 10fr;
	padding: 20px 0;
}

.dialog a {
	text-decoration: none;
	color: white;
	padding-left: 10px;
}

.dialog img {
	width: 50px;
	border-radius: 50%;
}
