.header {
    grid-area: h;
    background-color: #607d8b;
    box-shadow: 0 0 5px 1px #607d8b;
    border-radius: 5px;
}

.header img {
    height: 58px;
    border: 1px solid #607d8b;
    border-radius: 5px 0 0 5px;
}