.app-wrapper {
	display: grid;

	min-width: 1200px;
	min-height: screen;

	padding: 0 20px 0 20px;

	grid-template-areas:
		"h h"
		"n c";
	grid-template-rows: 60px 1fr;
	grid-template-columns: 2fr 10fr;
	grid-gap: 10px;

	background-color: #455a64;
}

.app-wrapper-content {
	grid-area: c;
	background-color: #607d8b;
	box-shadow: 0 0 5px 1px #607d8b;
	border-radius: 5px;
}
