.profile-header img {
    width: 100%;
    height: 200px;
    border-radius: 5px 5px 0 0;
}

.user-info {
    display: grid;
    height: 200px;

    grid-template-columns: 2fr 10fr;
}

.user-info img {
    width: 150px;
    border-radius: 50%;
}