.item{
    display: grid;
    background-color: #78909c;
    margin: 10px 5px;
    border-radius: 10px;

    grid-template-columns: 1fr 10fr;
}

.item img {
    width: 80px;
    border-radius: 50%;
    vertical-align: middle;
}

.item div {
    padding: 5px;
}

.item p {
    height: min-content;
    padding: 10px 0;
}